.checkout-container {
  width: 60vw;
  margin: 0 auto;

  .checkout-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    // padding-bottom: 0;
    // margin-bottom: 0;
    // justify-self: end;
  }

  .title {
    display: inline;
  }
}

.checkout-hr {
  margin-bottom: 20px;
}
