.checkout-container {
  width: 60vw;
  margin: 0 auto;

  .checkout-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    justify-items: center;

    .title {
      display: inline;
    }

    .product {
      justify-self: start;
    }

    .remove {
      justify-self: end;
    }
  }
}

.checkout-hr {
  margin-bottom: 20px;
}

.checkout-total {
  text-align: right;
  font-size: 130%;
  font-weight: bold;
}
