.checkout-row {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 20px;
  // align-items: center;

  .item-img {
    width: 100px;
  }

  .quantity-container {
    .quantity {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .remove-item {
    cursor: pointer;
  }
}
