.checkout-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;

  .item-img {
    width: 55px;
  }

  .quantity-container {
    .quantity {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
